@model ecommerce.DAL.User
@{
    ViewData["Title"] = "SignUp";
}


    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="~/template/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="/User/Login"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="~/template/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./shop-grid.html">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->



<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" asp-action="SignUp">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-label-group">
                            <label asp-for="FirstName">First Name</label>
                            <input type="text" asp-for="FirstName" id="FirstName" name="FirstName" class="form-control" placeholder="First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-label-group">
                            <label asp-for="LastName">Last Name</label>
                            <input type="text" asp-for="LastName" id="LastName" name="LastName" class="form-control" placeholder="Last Name">
                        </div>

                        <div class="form-label-group">
                            <label asp-for="Email">Email address</label>
                            <input type="email" asp-for="Email" id="Email" class="form-control" placeholder="Email address">
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>

                        <div class="form-label-group">
                            <label asp-for="PhoneNo">Phone Number</label>
                            <input type="text" asp-for="PhoneNo" id="PhoneNo" name="PhoneNo" class="form-control" placeholder="Phone Number">
                            <span asp-validation-for="PhoneNo" class="text-danger"></span>

                        </div>

                        <div class="form-label-group">
                            <label asp-for="Password">Password</label>
                            <input type="password" asp-for="Password" id="Password" name="Password" class="form-control" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        @*<div class="form-label-group">
                            <input type="password" asp-for="RePassword" id="RePassword" name="RePassword" class="form-control" placeholder="Re-Password">
                            <label for="RePassword">Re-Password</label>
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </div>*@

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign Up</button>

                        <hr class="my-4">
                        <a class="btn btn-lg btn-success btn-block text-uppercase" href="/User/Login"><i class="fa fa-phone mr-2"></i> Sign in with Phone Number</a>
                        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fa fa-google mr-2"></i> Sign in with Google</button>
                        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fa fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

